<div class=dashboard-page> 
	<div class=container-fluid> 
		<div class=row> 
			<div class="col-sm-3 col-md-2 sidebar"> 
				<div class="text-center" ng-controller="ChromeController"> 
					<h2 class=brand>MYP Admin</h2>
					<h3>{{user}}</h3><br/>  
					<a ng-click ="logout()">Logout</a>
				</div> 
				
				<ul class="nav nav-sidebar"> 
					<li ng-class="{active: $state.includes('players')}"><a ui-sref="players">Players</a></li>
					<li ng-class="{active: $state.includes('seasons')}"><a ui-sref="seasons">Seasons</a></li> 
					<li ng-class="{active: $state.includes('leagues')}"><a ui-sref="leagues">Leagues</a></li>
					<li ng-class="{active: $state.includes('create')}"><a ui-sref="create">Weeks</a></li>
					<li ng-class="{active: $state.includes('setup')}"><a ui-sref="setup">Setup Week</a></li>
					<li ng-class="{active: $state.includes('games')}"><a ui-sref="games">Games</a></li>
					<li ng-class="{active: $state.includes('addScore')}"><a ui-sref="addScore">Add Score</a></li>
					<li ng-class="{active: $state.includes('backup')}"><a ui-sref="backup">Backup & Restore</a></li>
					<li ng-class="{active: $state.includes('clean')}"><a ui-sref="clean">Clean Data</a></li> 
					<li style="margin-top: 20px; border-top: 1px solid #444; padding-top: 15px;">
						<a href="../index.html" style="color: #FFB415;"><i class="fa fa-reply" style="margin-right: 8px;"></i>Back to Main App</a>
					</li>
				</ul> 
			</div> 
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view></div> 
		</div> 
	</div> 
</div>