<div class="nav">	
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-sm-2 col-lg-1">
				<img src="img/myp.svg" width="75" height="75" id="logo" />
			</div>
			<div class="col-xs-9 col-sm-9">
				<div class="row" id="navrow">
					<div class="col-xs-11 col-sm-12">
						<ul>
							<li id="nav-make" ui-sref-active="active"><a ui-sref="make">Make Picks</a></li>
							<li id="nav-view" ui-sref-active="active"><a ui-sref="view">View Picks</a></li>
							<li id="nav-standings" ui-sref-active="active"><a ui-sref="winsummary">Standings</a></li>
							<li id="nav-admin" ng-if="isAdminOfAnyLeague"><a href="/admin/index.html">Admin</a></li>
							<li id="nav-logout"><a href="#" ng-click="logout()"><i class="fa fa-sign-out" style="margin-right: 5px;"></i>Logout</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-11 col-sm-12" id="mn-view">
						<span id="username" class="username">{{username}}</span>
						<a href="" ng-click="openJoinLeagueModal()" id="join-league-link"><i class="fa fa-plus-circle" style="margin-right: 4px;"></i>Join League</a>
						<div style="clear: both; margin-top: 5px;"></div>
						<div id="league-container" ng-if="leagues && leagues.length > 0">
							<select ng-model="league.id" id="league-select">
								<option ng-repeat="lg in leagues" value="{{lg.id}}">
									{{lg.leagueName}}
								</option>
							</select>
						</div>
						<div id="week-container" ng-if="leagues && leagues.length > 0">
							<select ng-model="week.weekId" id="week-select" >
								<option ng-repeat="week in weeks" value="{{week.id}}">
							 		Week {{week.weekNumber}}
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Join League Modal Overlay -->
	<div class="join-league-modal-overlay" ng-class="{'active': showJoinModal}">
		<div class="join-league-modal-card shadow">
			<h3>Join a League</h3>
			<form ng-submit="joinLeague()">
				<p>
					<label for="modal-league-select">Available Leagues</label>
					<select id="modal-league-select" ng-model="joinLeagueData.leagueId">
						<option value="" disabled selected>-- Select a League to Join --</option>
						<option ng-repeat="l in availableLeagues" value="{{l.id}}">
							{{l.leagueName}}
						</option>
					</select>
				</p>
				<p>
					<label for="modal-password-input">Password (Optional)</label>
					<input type="password" id="modal-password-input" ng-model="joinLeagueData.password" placeholder="Enter league password if required" />
				</p>
				<div class="error-msg" ng-bind="joinLeagueError"></div>
				<div>
					<button type="submit" class="btn-submit">Join League</button>
					<a href="" ng-click="closeJoinLeagueModal()" class="btn-cancel">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>	